
<ul id="navbar">
    <li>
        <a id="home" href="/">Home</a>
    </li>
    <li>
        <a id="register" href="/register">Register User</a>
    </li>
    <li>
        <a id="list" href="/list">List of Users</a>
    </li>
</ul>